{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<!--     <h1>Главная страница</h1>-->
<!--    <br>-->
<!--    <p>-->
<!--       Группа Компаний ХХХ реализует проекты в области проектирования и внедрения корпоративных информационных систем, информационной безопасности, промышленной автоматизации, а также заказной разработки и интеграции решений разных производителей.-->
<!--    </p>-->
<!--    <p><b>Направления деятельности:</b></p>-->
<!--    <ul>-->
<!--        <li>Покупка-продажа, аренда недвижимости.</li>-->
<!--        <li>Поиск продавцов и покупателей.</li>-->
<!--        <li>Юридическое сопровождение сделки.</li>-->
<!--        <li>Консультации по вопросам сделок с недвижимостью.</li>-->
<!--    </ul>-->

<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <h1 class="display-4">XXX</h1>
    <p class="lead"> Группа Компаний ХХХ
      реализует проекты в области проектирования и внедрения
      корпоративных информационных систем, информационной безопасности,
      промышленной автоматизации, а также заказной разработки и интеграции
      решений разных производителей.

    </ol>
    </p>
  </div>
</div>
{% endblock %}